@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<header>
        <i class="fas fa-clipboard-list fa-2x"></i>&nbsp;
        <span class="h1">TODO </span>
        <span class="h1-small">With Dapr</span>
</header>

<div class="content">
    <AddTodo></AddTodo>
    <div>&nbsp;</div>
    <TodoList></TodoList>
</div>

