@inherits LayoutComponentBase

<header>

    <div style="float:left; font-size:18px;">
        <img src="img/logo.png" height="32" />
        <span style="">Demo Dialog Flow</span>
    </div>

</header>
<div style="top:75px; position: absolute; left:40%; width:400px;">

@Body

</div>
