html, body {
    width: 100%;
    background-color: #ecf0f1 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
    padding: 10px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #ecf0f1;
    height: 50px;
    background: linear-gradient(100deg,#9b59b6, #8e44ad 100%);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    font-family: 'Segoe UI Light'
}

.h1 {
    font-size : 18px;
}

.h1-small {
    font-size: 14px;
}

.content {
    margin-top: 50px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.mud-button-filled-primary {
    background: linear-gradient(100deg,#9b59b6, #8e44ad 100%);
    color: #fff;
}